extends layout

block body
  .row
    .small-12.small-centered.text-center.columns
      p.show-for-medium-up
      h1.show-for-medium-up #{projectName}
      p
      p For those people who don't know how much the coffee costs.
