extends ../layout

block body
  .row
    .small-12.small-centered.columns
      p
      h1 Achievements
      p
      p This page lists the possible achievements in this edition
        | of #{projectName}.

      table
        thead
          tr
            th Badge
            th Achievement
        tbody
          - for achievement in achievements 
            tr
              td.text-center
                .panel: i(class="fa #{achievement.icon} fa-3")
              td
                h5 #{achievement.longname}
                p #{achievement.description}
