extends ../layout

block body
  .row
    .small-12.small-centered.columns
      p
      h1 Achievements
      p
      p This page lists the possible achievements in this edition
        | of #{projectName}.
      p.text-center COMING SOON!
